.cards-city {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 60vh;
  font-family: "Roboto", sans-serif;
  margin-top: 2rem;
  align-items: center;
  align-content: center;
  margin-bottom: 4rem;
  padding: 0 5rem;
  
}

.card {
  display: flex;
  flex-direction: column;
  margin: auto 4rem;
  width: 50%;
  height: 90%;
  background: radial-gradient(#111 50%, #000 100%);
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  box-shadow: 15px 15px 15px #0a0a0a;
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 90%;
  margin: 0 2rem;
  color: #efeefe;
  flex-grow: 1;
}

.card-text > h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

.card-text > p {
  font-weight: 300;
  align-self: center;
  width: 70%;
  text-align: justify;
  font-size: 1.5em;
  color: #efefefad;
  margin-bottom: 1rem;
}

.card-text > span {
  font-size: 1.4em;
  text-align: justify;
  width: 70%;
  align-self: center;
  color: #efefefad;
}

.img-card {
  width: 100%;
  height: 100%;
  object-fit:cover;
  display: block;
}

.card .img-card {
  transition: all 0.3s ease-out;
}

.card:hover .img-card {
  transform: scale(1.1) translateY(-15px);
  opacity: 0.3;
}

.description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.description > h3 {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0 0 1.2rem;
  transform: translateY(10px);
  opacity: 0;
  transition: all 0.3s ease-out;
  text-shadow: 1px 1px 2px #efeefe;
  color: #efeefe;
}

.card:hover .description h3 {
  opacity: 1;
  color: #efeefe;
}

.card:hover .description h4 {
  opacity: 1;
  color: #efeefe;
}

.card:hover .description .boton-city {
  opacity: 1;
}

.link-about {
  display: flex;
  align-self: center;
  text-decoration: none !important;
  margin-top: 2.3rem;
}

.boton-aboutUs {
  border: 2px solid #efeefe;
  font-size: 1.2em;
  padding: 0.3rem;
  border-radius: 5px;
  background-color: transparent;
  color: #efeefe;
  cursor: pointer;
  transition: all 0.5;
}

.boton-aboutUs:hover {
  transform: scale(1.02, 1.02);
}

/* --------------- */



@media (max-width: 1400px) {
  .cards-city {
    padding: 0 1rem;
  }
  .card-text > p {
    width: 90%;
  }

  .card-text > span {
    width: 90%;
  }
  .boton-aboutUs {
    margin-bottom: 2rem;
  }
}

@media(max-width: 1200px ){
  .card-text>h1{
    margin-bottom: 1rem;
  }
}


@media (max-width: 870px) {
  .cards-city {
    height: auto;
    flex-direction: column !important;
  }
  .card {
    width: 80% !important;
    overflow: hidden;
    height: 50% !important; 
    margin-bottom: 1rem;
  }
  .card-text {
    padding: 0 1rem;
    width: 80%; 
  }
  .swiper {
    width: 100%;
  }
}

@media (max-width: 520px) {
  .parrafoCard {
    font-size: 0.5rem;
  }
  .card-text {
    margin: 0;
    width: 100%;
  }
  .card-text h1{
    font-size: 1.7rem;
  }
}


@media (max-width: 480px){
  .card{
    width: 100% !important;
  }

  .card-text > h1{
    font-size: 1.5em;
  }

  .card-text >p{
    font-size: 1em;
  }

  .card-text > span{
    font-size: 1em;
  }

  .boton-aboutUs{
    font-size: 1.1em !important;
    
  }
}

