.container-categorias{
 /*  background-color: aqua; */
  width: 65%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: 3rem 0 5rem 0;
}

.subcontainer-categorias{
  display: flex;
  flex-direction: row;  
 /*  background-color: seagreen; */
  width: 100%;
  height: 50%;
  
}

.subcontainer-categorias1{
  width: 100%;
  height: 50%;
 /*  background-color: burlywood; */
  display: flex;
  flex-direction: row;
}

.primerContenedor{
 /*  background-color: rgb(221, 82, 13); */
  width: 30%;
  height: 100%;
  color: #efefef
}

.segundoContenedor{  
  /* background-color: blue; */
  width: 40%;
  height: 100%;
  color: #efefef
}

.tercerContenedor{
  /* background-color: yellowgreen; */
  width: 30%;
  height: 100%;
  color: #efefef
}

.img-categorias{
  object-fit:scale-down;
  width: 100%;
  height: 100%;
}

.tituloCategorias{
  color: #efefef;
  text-align: center;
  font-size: 1.3em;
  padding: 3rem 0 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
}

.parrafoCategorias{
  font-size: 1.1em;
  text-align: center;
  color: #efefefad;
}