#container-categorias{
  width: 65%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin: 3rem 0 5rem 0;
  
}
.subcontainer-categorias{
  display: flex;
  flex-direction: row;  
  width: 100%;
  height: 50%;
}
.subcontainer-categorias1{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.primerContenedor{
  width: 33%;
  height: 100%;
  color: #efefef;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.segundoContenedor{  
  width: 33%;
  height: 100%;
  color: #efefef;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
  flex-grow: 1;
  
}
.tercerContenedor{
  width: 33%;
  height: 100%;
  color: #efefef;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.container-imgcategorias{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.img-categorias{
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  object-fit: cover;
  
  filter: drop-shadow(-10px 25px 90px rgba(255, 255, 255, 0.575));
  
}
.tituloCategorias{
  color: #efefef;
  text-align: center;
  font-size: 1.3em;
  padding: 3rem 0 1rem 0;
  font-weight: bold;
  text-transform: uppercase;
}
.parrafoCategorias{
  font-size: 1.1em;
  text-align: center;
  color: #efefefad;
}

@media screen and (max-width: 800px) { 
  .tituloCategorias{
    font-size: 1em;
    margin-right: .5rem;
  }
  .parrafoCategorias{
    display: none;
  }
  #container-categorias {
    
    width: 80%;
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 620px) { 

  #container-categorias{
    margin-bottom: 3rem;
    width: 80%;
    height: 500px;
    
  }

  .subcontainer-categorias,
  .subcontainer-categorias1{
    width: 100%;
    flex-direction: column;
    align-items: center;
    
  }

  .primerContenedor,
  .segundoContenedor,
  .tercerContenedor{
    width: 50%;
    text-align: center;
  }

  .tituloCategorias{
    font-size: 1em;
    margin: 0;
    text-align: center;
  }
  
  .img-categorias{
    display: none;
  }
  
}

