.globalForm{
    /* background-color: rgba(128, 128, 128, 0.274); */
    display: flex;
    width: 97%;
    min-height: 80vh;
    margin-bottom: 2rem;
    background-color: rgba(128, 128, 128, 0.123);
}

.globalForm > h1 {
    border: solid white 1px ;
    width: 50%; 
}
.containerImg{
    display: flex;
    justify-content: center;
    align-items: center;

}
.containerImg > img{
    width: 23rem;
    height: 19rem;
}

/* @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); */

html {
    font-family: 'Roboto',  sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #F2F3EB;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #ffffff;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  /* border: solid 3px #b3b3b3; */
  width: 50%;
  margin: 30px 20px 20px 20px;
  /* border: solid white 2px; */
  /* position: relative; */
}

form {
  padding: 8.5px;
  margin: 20px 0;
}

h1 {
  color: #d4d4d4;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #928d8a;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 30px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill:  rgb(161, 70, 70);
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #cecccb;
	color: #000000;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.475em 0;
	padding: 0 0 0.575em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.675em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 75px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #dfd9d7;
}

:-moz-placeholder { 
	color: #c9c1bd;
	opacity: 1;
}

::-moz-placeholder {
	color: #c9c1bd;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #cac3bf;
}

#form_button {
  background: none;
  border: solid 2px #d8d2d0;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 20px;
  margin: 0px 0px 25px 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}


@media only screen and (max-width: 770px) {
	
}

@media screen and (max-width: 768px) {
    .globalForm{
        /* background-color: rgba(128, 128, 128, 0.274); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 97%;
        min-height: 80vh;
    }
}
.containerImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: #dfd9d7;
}
.imgForm{
    width: 40vw;
    height: 300px;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}