.globalForm {
  display: flex;
  width: 90%;
  min-height: 50vh;
  margin-bottom: 3rem;
}
.containerImg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#name_input,
.textArea,
#name_input {
  color: #efeefe;
  margin: 0;
}

#name_input {
  line-height: normal;
}

.textArea {
  overflow: auto;
}

#containerFormIndex {
  width: 50%;
  margin: 2rem 3rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact_form {
  padding: 0.2rem;
  margin: 2rem 0;
}

.tituloform {
  color: #d4d4d4;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
  line-height: 3.2rem;
}
.underline {
  border-bottom: solid 2px #928d8a;
  margin: -0.512em auto;
  width: 6rem;
}

.icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 0 0 ;
  width: 100%;
}
.icon {
  display: block;
  fill: #f3a446;
  height: 3rem;
  margin: 0 auto;
  width: 5rem;
}

.email {
  float: right;
  width: 45%;
}

.textArea {
  background: none;
  border: none;
  border-bottom: solid 2px #efefef;
  color: #efefef;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0em 0 1.475em 0;
  padding: 0 0 0.575em 0;
  text-transform: uppercase;
  width: 100%;
}
.modificado{
  margin-bottom: 1rem!important;
}

.textArea:focus {
  outline: none;
  padding: 0 0 0.675em 0;
}
.message {
  float: none;
}
.name {
  float: left;
  width: 45%;
}

.telephone {
  width: 100%;
}

.container-what{
  margin: 1rem 0 0 0;
}

.imgFormindex{
  color: #efeefe;
  cursor: pointer;
  font-size: 2.5rem !important;
}

.textArea {
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #ffffff;
}

:-moz-placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}

::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #cac3bf;
}
.textArea {
  color: #ffffff;
}

.boton-aboutUs {
  border: 2px solid #efeefe;
  font-size: 1rem!important;
  padding: 0.3rem;
  border-radius: 5px;
  background-color: transparent;
  color: #efeefe;
  cursor: pointer;
  transition: all 0.5;
}

.boton-aboutUs:hover {
  transform: scale(1.02, 1.02);
}


@media screen and (max-width: 768px) {
  .globalForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 40vh;
  }
  .containerImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: #dfd9d7;
  }
  .container-what{
    display: none;
  }
  .containerImg > img {
    width: 18rem;
    height: 13rem;
  }
  .icon_wrapper {
    margin: 2rem auto 0;
    width: 100%;
  }
  #contact_form {
    margin: 0;
    padding: 1rem;
  }
#containerFormIndex{
  width: 90%;
}
  #containerFormIndex > h1 {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .tituloform {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  
}

@media screen and (max-width: 420px) {
  .tituloform {
    font-size: 18px;
  }
  .containerImg > img {
    width: 15rem;
    height: 12rem;
  }

  .underline {
    width: 53px;
  }

  .textArea {
    font-size: 0.875em;
  }
}
