* {
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: transparent !important;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  transition: all 1s;
  flex-wrap: nowrap;
}
.navbarBackgound {
  /* background-color: transparent !important; */
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between !important;
  top: 0;
  z-index: 1000;
  padding: 1rem;
  /* background-color: #141313 !important; */
  background-color: #efefef !important;
  transition: all 1s;
}
.menuLinks{
  /* background-color: aliceblue; */
  display: flex;
  width: 80%;
  justify-content: flex-end;
}

.linkGeneral {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  /* color: rgba(255, 255, 255, 0.664); */
  color: black;
  font-size: x-large;
  text-decoration: none;
  font-size: 0.5!important;
}
.nav-linkUser {
  color: black;
  text-decoration: none;
  padding: 1rem;
}
.navLi {
  list-style-type: none !important;
  color: #000;
}
.linkGeneral:hover {
  /* color: white; */
  color: #000;
  background-color: rgba(255, 255, 255, 0.281);
  /* font-size: 2rem; */
}
.linkAvatar {
  text-decoration: none;
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}
.linkAvatar:hover {
  background-color: transparent !important;
}
/* .userImg {
  width: 5rem;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
} */

.logo {
  width: 4rem;
  border-radius: 50%;
}
.linkLogo {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  /* color: white; */
  color: #000;
  text-decoration: none;
  align-items: center;
  display: flex;
}
.linkLogo:hover {
  color: rgba(255, 255, 255, 0.37);
}
.spanUser {
  font-size: 1.2rem;
}
.pruebaMenu {
  margin-right: 2rem !important;
}

@media (max-width: 567px) {
  .navbar {
    padding: 0;
  }
  .navbarBackgound {
    padding: 0;
    background-color: #000 !important;
  }
  .linkLogo {
    font-size: 1.5rem !important;
  }
  .logo {
    width: 2rem;
  }
  .userImg {
    width: 4rem;
  }
  .spanUser {
    display: none;
  }
}
