.containerCardUser{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-image: url('../img/fondo_alto.jpg');
}

.container-cardppal{
  width: 100%;
  min-height: 100vh;
  background-image: url('../img/fondoAdmin2.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





/* ------------------card information ----------------- */


#cardUser {
  margin: 6rem auto;
  width: 40%;
  min-height: 80vh;
}


.esquema-card {
  justify-content: flex-start;
  align-items: center;
  padding-top: 1rem;
  background-color: #5c5b5bdc !important;
  /*  background-color: #efeefed5; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #EFEEFE !important;
}


.img-h1{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  margin-bottom: 2rem;
  justify-content: space-between;
  align-items: center;
}

.fotoUsuario{
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.692);
}


.subtitle-user {
  padding: 0!important;
  width: 60%;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.fotoUser-Card{
  width: 120px;
  height: 120px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 3rem;
  
}

.infoUser{
  font-size: 1.6em;
  margin: .8rem 0;
}

.div-user {
  width: 80%;
  margin: .8rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: none; 
}

.link-user{
  text-decoration: none;
}

.button-user {
  font-size: 1rem;
  background: #EFEEFE;
  color: #000;
  padding: 0.5em .5em;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 1px;
  overflow: hidden;
  margin: .5rem auto;
  transition: all 0.2s;
}

.button-user span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.linkSingIn-user {
  font-size: .9rem;
  margin-top: .5rem;
}

.button-user svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.button-user:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button-user:hover svg {
  transform: translateX(1.8em) rotate(45deg) scale(1.1);
}

.button-user:hover span {
  transform: translateX(8em);
}

.button-user:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


/* -------------responsividad ---------- */

/* @media only screen and (min-width: 0px) and (max-width: 750px) {
  #video-signup {
    display: none;
  }

  #form-signup {
    width: 100%;
  }

  .subtitle-signup {
    font-size: 2rem;
    padding: 0 0 .2rem 0;
  }

  

  .button {
    font-size: .8rem;
    height: 1.9rem;
  }

  .linkSingIn {
    text-align: center;
  }

  .inputFrom {
    padding-left: 0;
  }

} */